html{
  font-size: 18px;
  line-height: 1.4;
}

.jumbotron {
  width: 100%;
  height: 31rem;
  background-image: url("/Users/kb186036/WebProjects/TortoiseShell/resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
}

.banner {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.branding {
  padding: 1rem 2rem;
  display: flex;
  color: white;
  align-items: center;
}

.branding img {
  margin-right: 1rem;
}

.nav ul {
  display: inline-flex;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
}

.nav ul li {
  margin-left: 2rem;
}

#menu {
  display: none;
}

.biz-slogan {
  margin-top: 10rem;
  line-height: 1.2;
}

.biz-slogan p {
  float: right;
  display: inline-block;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.workflow {
  display: flex;
  justify-content: center;
  height: 8rem;
  margin-bottom: 3rem;
}

.workflow-card {
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#ruler {
  margin-left: 6rem;
  margin-right: 6rem;
}

#exam-sheet {
  margin-top: 0;
  width: 3.5rem;
  height: auto;
}

.workflow-card img {
  width: 5rem;
  height: auto;
  margin: auto 0;
}

.workflow-card p {
  text-align: center;
}

.details {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.detail-card {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#philosophy {
  margin-right: 5%;
}

.detail-card-heading {
  width: 10rem;
  background-color: cadetblue;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.detail-card-heading p {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
}

.footer {
  background-color: azure;
  padding: 4rem;
  display: flex;
  align-items: center;
}

.footer img {
  margin-right: 1rem;
}

@media only screen and (max-width: 1120px) {

  .jumbotron {
    height: 22rem;
    padding-top: 0;
  }

  .container {
    width: 100%;
  }

  .biz-slogan {
    margin-top: 5rem;
  }

  .biz-slogan p {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 760px) {

  .jumbotron {
    height: 17rem;
    padding-top: 0;
    background-position: 20%;
    margin-bottom: 0;
    border: solid 1px red;
  }

  .container {
    width: 100%;
  }

  .banner {
    height: 3rem;
  }

  .banner img {
    height: 1.75rem;
  }

  .branding p {
    display: none;
  }

  .nav ul li {
    display: none;
  }

  #menu {
    display: block;
  }

  .biz-slogan {
    margin-top: 9rem;
  }

  .biz-slogan p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
  }

  .main {
    margin: 0;
  }

  .workflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    height: auto;
    padding: 0;
  }

  #ruler {
    margin: 1.54rem 0;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  .detail-card {
    width: 100%;
    margin-bottom: 4rem;
  }

  .detail-card-heading {
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
  }

  .descriptive {
    margin-left: 0.5rem;
    font-size: 0.77rem;
  }

  .footer {
    width: auto;
    justify-content: center;
  }

  .footer p {
    display: none;
  }

  .footer img {
    margin: 0;
  }

}
